<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <p class="text-center">
    <a href="mailto:info@metadocencia.org" class="fa-solid fa-envelope" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://twitter.com/metadocencia" class="fab fa-twitter" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://w3id.org/metadocencia/slack" class="fab fa-slack" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://github.com/metadocencia" class="fab fa-github" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://youtube.com/metadocencia" class="fab fa-youtube" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://www.instagram.com/metadocencia/" class="fab fa-instagram" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://facebook.com/metadocencia" class="fab fa-facebook-f" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>&nbsp;
    <a href="https://www.linkedin.com/company/metadocencia/" class="fab fa-linkedin" target="_blank" style="text-decoration: none; font-size: 1.5em;"></a>
  </p>

<footer class="site-footer">
    
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
      {{ i18n "fiscal_sponsorship" }}
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}
      {{ i18n "powered_by" }}
    {{ if not (in (slice "docs" "updates") .Type) }}
    <span class="float-right" aria-hidden="true">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>

</body>
</html>
