# R / RStudio (local)
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Hugo (derivados)
public/
resources/
.hugo_build.lock

# macOS
.DS_Store
**/.DS_Store
._*
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Editores
*~
