{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

{{ if ne $columns "1" }}
{{/* Standard dual-column layout. */}}

<div class="row justify-content-center">

  {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
  {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

</div>
  
<div class="row justify-content-center">
  {{ $st.Content }}
</div>
  
{{ else }}
  <div class="row justify-content-center">
    {{ with $st.Title }}<h1 class="mt-0">{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    {{ $st.Content }}
  </div>
  
{{ end }}
  
</div>
