{{- $src := .Get "src" -}}
{{- $title := .Get "title" | default "Embedded content" -}}
{{- $ratio := .Get "ratio" | default "16:9" -}}
{{- $lazy := .Get "loading" | default "lazy" -}}
{{- $allow := .Get "allow" | default "" -}}
{{- $referrer := .Get "referrerpolicy" | default "" -}}
{{- $width := .Get "width" | default "full" -}}  {{/* full | bleed */}}

{{/* Relación de aspecto */}}
{{- $ratioClass := "" -}}
{{- if eq $ratio "4:3" -}}
  {{- $ratioClass = " is-4x3" -}}
{{- end -}}

{{/* Ancho */}}
{{- $widthClass := "" -}}
{{- if eq $width "bleed" -}}
  {{- $widthClass = " is-bleed" -}}
{{- end -}}

<div class="md-embed{{ $ratioClass }}{{ $widthClass }}">
  <iframe
    src="{{ $src | safeURL }}"
    title="{{ $title }}"
    loading="{{ $lazy }}"
    {{- if $allow }} allow="{{ $allow }}"{{ end -}}
    {{- if $referrer }} referrerpolicy="{{ $referrer }}"{{ end -}}
    allowfullscreen>
  </iframe>
</div>
